node_modules/
/lib/
/test/
custom-elements.json
# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
koro-beef-game-picker.js
koro-beef-game-picker.js.map
koro-beef-game-picker.d.ts
koro-beef-game-picker.d.ts.map
