$ci-primary: #f07178;
$ci-darkest: #212121;

$mat-background: #263238;
$mat-foreground: #B0BEC5;
$mat-text: #607D8B;
$mat-selection-background: #546E7A;
$mat-selection-foreground: #FFFFFF;
$mat-buttons: #2E3C43;
$mat-second-background: #32424A;
$mat-disabled: #415967;
$mat-contrast: #1E272C;
$mat-active: #314549;
$mat-border: #2A373E;
$mat-highlight: #425B67;
$mat-tree: #546E7A70;
$mat-notifications: #1E272C;
$mat-accent-color: #009688;
$mat-excluded-files-color: #2E3C43;

$white: #fff;
$black: #000;

$ci-border-radius: 3px;

$elements-font-sizes: (
  h1: (
    xs: 20,
    sm: 35,
    md: 70
  ),
  p: (
    xs: 18,
    md: 20
  )
)
