$ci-primary: #f07178;
$ci-darkest: #212121;

// Material Oceanic
$mat-background: #263238;
$mat-foreground: #b0bec5;
$mat-text: #607d8b;
$mat-selection-background: #546e7a;
$mat-selection-foreground: #fff;
$mat-buttons: #2e3c43;
$mat-second-background: #32424a;
$mat-disabled: #415967;
$mat-contrast: #1e272c;
$mat-active: #314549;
$mat-border: #2a373e;
$mat-highlight: #425b67;
$mat-tree: #546e7a70;
$mat-notifications: #1e272c;
$mat-accent-color: #009688;
$mat-excluded-files-color: #2e3c43;

// Material Lighter
$mat-light-background: #fafafa;
$mat-light-foreground: #546e7a;
$mat-light-text: #94a7b0;
$mat-light-selection-background: #80cbc440;
$mat-light-selection-foreground: #546e7a;
$mat-light-buttons: #f3f4f5;
$mat-light-second-background: #fff;
$mat-light-disabled: #d2d4d5;
$mat-light-contrast: #eee;
$mat-light-active: #e7e7e8;
$mat-light-border: #d3e1e8;
$mat-light-highlight: #e7e7e8;
$mat-light-tree: #80cbc440;
$mat-light-notifications: #eae8e8;
$mat-light-accent-color: #00bcd4;
$mat-light-excluded-files-color: #ccd7da50;
$mat-light-green-color: #c3e88d;
$mat-light-yellow-color: #ffcb6b;
$mat-light-blue-color: #82aaff;
$mat-light-red-color: #f07178;
$mat-light-purple-color: #c792ea;
$mat-light-orange-color: #f78c6c;
$mat-light-cyan-color: #89ddff;
$mat-light-gray-color: #616161;
$mat-light-white-black-color: #eff;
$mat-light-error-color: #ff5370;

// Brands
$brand-xbox: #52b043;
$brand-playstation: #003087;
$brand-nintendo: #e60012;
$brand-steam: #00adee;
$brand-epic: rgb(42 42 42);
$brands: (
  xbox: $brand-xbox,
  playstation: $brand-playstation,
  nintendo: $brand-nintendo,
  steam: $brand-steam,
  epic: $brand-epic,
  pc-gamepass: $brand-xbox,
);
$white: #fff;
$black: #000;
$ci-border-radius: 3px;
$elements-font-sizes: (
  h1: (
    xs: 20,
    sm: 35,
    md: 70,
  ),
  h2: (
    xs: 18,
    sm: 24,
    md: 28,
  ),
  p: (
    xs: 18,
    md: 20,
  ),
);
