@import './settings';
@import './functions';
@import './mixins';
@import './fonts';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@include apply-font-sizes($elements-font-sizes);

.BeefGamePicker {
  background-color: $mat-background;
  box-sizing: border-box;
  color: $mat-foreground;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  padding-bottom: 30px;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.BeefGamePicker__container {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 20px;
  width: 100%;
}

.BeefGamePicker__header {
  padding: 30px 0;

  h1 {
    color: $mat-accent-color;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    span {
      color: $mat-selection-foreground;
      display: block;
      font-size: 0.55em;
      font-weight: 300;
      text-transform: none;
    }
  }
}

.games-pool {
  border-top: 1px solid $mat-contrast;
  margin-top: 30px;
  padding: 30px 0;

  .btn {
    @include button($mat-foreground, $mat-buttons);
  }
}

.games-pool__header {
  text-align: right;
}

.games-pool__control {
  padding: 15px 0;
  text-align: right;

  .btn {
    font-size: #{koro-rem-calc(12)};
  }
}

.games-pool__body {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    width: 25%;
  }
}
