@import './settings';
@import './functions';
@import './mixins';

.Counter {
  align-items: flex-start;
  background-color: rgba($mat-contrast, 0.85);
  backdrop-filter: blur(3px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Counter__layer {
  align-items: center;
  background-color: $mat-background;
  border: 1px solid $mat-highlight;
  border-radius: $ci-border-radius;
  box-shadow: 0 1px 2px rgba($black, 0.15),
    0 2px 3px rgba($black, 0.15),
    0 3px 5px rgba($black, 0.15),
    0 5px 8px rgba($black, 0.15),
    0 8px 13px rgba($black, 0.15),
    0 13px 21px rgba($black, 0.15),
    0 21px 34px rgba($black, 0.15),
    0 34px 55px rgba($black, 0.15);
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  min-width: 262px;
  max-width: 650px;
  padding: 30px;
}

.Counter__counter {
  max-width: 200px;
  position: relative;
  width: 100%;

  &::before {
    border: 4px solid $mat-accent-color;
    border-radius: 50%;
    content: ' ';
    display: block;
    padding-top: 100%;
    width: 100%;
  }
}

.Counter__step {
  align-items: center;
  color: $mat-selection-foreground;
  display: flex;
  height: 100%;
  font-size: #{koro-rem-calc(30)};
  font-weight: 900;
  justify-content: center;
  line-height: 1;
  position: absolute;
  top: 0;
  width: 100%;

  @include koro-breakpoint(md) {
    font-size: #{koro-rem-calc(65)};
  }

  &.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
  }
}

.Counter__pick {
  color: $mat-selection-foreground;
  font-size: #{koro-rem-calc(24)};
  font-weight: 900;
  line-height: 1.1;
  text-align: center;

  @include koro-breakpoint(md) {
    font-size: #{koro-rem-calc(54)};
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }

  7% {
    opacity: 1;
  }

  84% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
